{
  "extends": ["arun", "arun/typescript", "arun/react", "plugin:@next/next/recommended", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["import", "react"],
  "rules": {
    "import/no-extraneous-dependencies": "off", // not for monorepo
    "no-useless-escape": "off",

    // personal preferences
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/button-has-type": "off",
    "import/extensions": "off",
    "react/no-array-index-key": "off",

    // recoil recommendation
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": [
      "warn",
      {
        "additionalHooks": "(useRecoilCallback|useRecoilTransaction_UNSTABLE)"
      }
    ]
  }
}
